body {
    background-color: #d9eaff;
}

h1{
    color:#003153;
}

.bcit_logo{
    display: inline;
    float:right;
}
.nav{
    text-align: center;
    background-color: #7ba2d1;
    padding:5px;
}
.nav li{
    display: inline;
}

#fullname{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


