body {
    background-color: #d9eaff;
}

h1{
    color:#003153;
}

.bcit_logo{
    display: inline;
    float:right;
}

li{
    display:inline;
}
nav{
    text-align: center;
    background-color: #7ba2d1;
    padding:5px;
}