body {
    background-color: #d9eaff;
}

h1{
    color:#003153;
}

.bcit_logo{
    display: inline;
    float:right;
}
.nav{
    background-color: #7ba2d1;

}
ul{
    list-style-type: none;
}

header{
    background-color: #7ba2d1;
}


#fullname{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}


.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-auto-rows: repeat(2, 1fr);
}


nav{
    display: flex;
    gap: 20px;
    flex-direction: column;
}

header{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.my_classes{
    border-bottom: 1px solid #5696c3;
    padding: 10px
}


@media (min-width:600px){
    .my_classes a>p{
        order: 2;
        grid-area: 1 1 2 3;

    }
    .my_classes{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: repeat(1fr, 1fr);

        column-gap: 10px;
    }
    nav{
        flex-direction: row;
    }
}